<h1>Welcome to CookieApp</h1><br />

{{#if username}}
  <h2>{{username}}, you have successfully been logged in</h2><br />
  <h3>And you are able to do the following actions:</h3>
   <button><a href="/main">Go Main</a></button><br>
   <button><a href="/private">Go Private</a></button><br>
  <form action="/auth/logout" method="POST"><button type="submit">Log out</button></form>
{{else}}
  <p>You are not login in yet!</p>
{{/if}}