<h1>Create a new account</h1>

<div id="form">
  <form action="/auth/signup" method="POST">

    <label>Username</label>
    <input type="text" name="username" placeholder="Dani G" required minlength="6" maxlength="12"/>

    <label>Password</label>
    <input type="password" name="password" placeholder="********" required minlength="6" maxlength="12"/>

    {{#if error}}
      <p style="color: red;">{{error}}</p>
    {{/if}}

    <button type="submit">Create account</button>

  </form>
</div>